DATABASE_URL="postgresql://neondb_owner:npg_kMQWw3B1esga@ep-long-union-ax57169a-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="generate-dengan-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
GITHUB_ID="Ov23liG2MTjnBpBVfC9f"
GITHUB_SECRET="de907cdf053193492ed99561e87434da81438a01"
